:root {
    --title-display: flex;
    --title-flex-direction: row;
    --title-gap: 7px;
    --title-width: 100%;
    --title-color: black;
    --title-font-size: 2em;
}

.Title {
    display:            var(--title-display); 
    flex-direction:     var(--title-flex-direction); 
    gap:                var(--title-gap); 
    width:              var(--title-width); 
    color:              var(--title-color); 
    font-size:          var(--title-font-size); 
}